body {
    background-color: #345061;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
}

.top-navbar{
    background-color: #174561 !important;
}

.center {
    /* Center vertically */
    position: absolute;
    top: 50%;
}